{% extends "base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}


{% block body %}
	<h1>
		Nos produits phares
	</h1>

	<div class="row">
		{% for p in products %}
			<div class="col">
				{% include "product/_product_card.html.twig" %}
			</div>
		{% endfor %}
	</div>

	<hr/>

	<h2>
		Un service irreprochable
	</h2>

	<p>
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod repudiandae necessitatibus voluptas harum tem quibusdam ex minus ipsum,</p>


	<div class="row mb-4">
		{% include "shared/_assurance.html.twig" with {
             'color': 'primary',
             'icon': 'fas fa-truck',
             'txt': 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sequi maxime commodi eaque obcaecati delectu'
            }
        %}

		{% include "shared/_assurance.html.twig" with {
             'color': 'success',
             'icon': 'fas fa-check',
             'txt': 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sequi maxime commodi eaque obcaecati delectu'
            }
        %}

		{% include "shared/_assurance.html.twig" with {
             'color': 'danger',
             'icon': 'fas fa-lock',
             'txt': 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sequi maxime commodi eaque obcaecati delectu'
            }
        %}
	</div>
{% endblock %}
